body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: black;
    width: 100%;
}

.header-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.navbar .navbar-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.navbar-nav .nav-item {
    margin: 0 1rem;
    padding: 0px 20px;
}

.navbar-nav .nav-link {
    color: white;
    text-decoration: none;
    white-space: nowrap;
    font-size: 30px;
}

.navbar-nav .nav-link:hover {
    color: rgb(204, 178, 135) ;
}
