/* home-styles.css */

.home-page{
    height: 100000px;
    background-color: black;
}


.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.dark-filter-image {
    position: relative;
}
  
.header-background {
    background-size: cover;
    position: relative;
    height: 100%;
}
  
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the alpha value for transparency */
}
  
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}  



.intro-container{
    position: relative;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.faded-line{
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: rgb(204, 178, 135);
    height: 1px;
    width: 80%;
}

.intro-header{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}